/* Color Palette
    #cfd8d9 - Light Gray
    #3f516c - Dark Blue
    #e08384 - Light Red
    #ead14f - Light Yellow
    #c45826 - Dark Orange
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    min-height:  100vh;
    background:#3f516c;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #3f516c;
}

.link-group {
    list-style: none;
    display: flex;
}

.link a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    transition: 0.5s;
    font-size: 20px;
}
.link a:hover {
    opacity: 1;
}

/*Home Section*/

.home-section.active,
.project-section.active,
.about-section.active,
.content-section.active {
    opacity: 1;
    position:relative;
    z-index: 8;
}

.home-section {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 150px;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.hero-heading {
    font-size: 120px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
}

.michael-image{
    width: 50%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;
}

/*Projects section*/
.project-section {
    display: flex-box;
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.project-heading{
    font-size: 30px;
    background: #c45826;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #ead14f;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;;
}

.project-heading h4{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-size:20pt;
    margin-bottom: 50px;
}


.project-card {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: 0.5s;
    left: 0;
}

.project-content {

    padding: 40px;
    color: #ead14f;
    transition: 0.5s;
    opacity: 0;
}

.project-title {
    width: 100%;
    font-size: 50px;
    text-transform: capitalize;
    font-weight:300;
    text-align: center;
}

.project-info {
    line-height: 30px;;
    font-size: 20px;
    text-align: left;
    margin:40px
}

.project-btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn {
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img {
    filter: blur(20px);;
}

.project-card:hover .project-content {
    opacity: 1;
}

/*About section*/
.about-section {
    width:100%;
    min-height: 100vh;
    padding:  150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;;
}

.about{
    width: 100%;
    display:grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-heading {
    font-size: 100px;
    background: #c45826;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.about-image-container{
    position:relative
}

.about-info {
    color:#fff;
    opacity: 0.5;
    font-size: 20px;
    line-height: 40px;
}

.about-img {
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.download-cv-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #c45826;
    padding: 10px 20px;
    border: none;
    font-size: 15pt;
    background: #000;
    cursor: pointer;
    transition: 0.5s;
}

/*skills section*/

.download-cv-btn:hover {
    background: #c45826;
}

.skills-section {
    position: relative;
    margin: 100px 0;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
    width: 95%;
}

.skill-section{
    position: relative;
    margin: 100px 0;
}

.skill-img {
    display: block;
    margin:auto;
    height: 200px;
}

.skill-name{
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0 20px;
    text-transform: capitalize;
}

.skill-info {
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: relative;
    margin:auto;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}
/* Color Palette
    #cfd8d9 - Light Gray
    #3f516c - Dark Blue
    #e08384 - Light Red
    #ead14f - Light Yellow
    #c45826 - Dark Orange
*/
.timeline {
    display: block;
    width:80%
    margin 150px auto;
}

.timeline .heading {
   margin-bottom: 150px;
}

.skills-section{
    width:95%;
    margin:auto;
    grid-template-columns: repeat(5 ,1fr);
}

.skill-section:nth-child(1) .skill-level {
    background: #3f516c;
    border-color: #c45826;
    color: #ead14f;
}

.skill-section:nth-child(2) .skill-level {
    background: #3f516c;
    border-color: #ead14f;
    color: #c45826;
}

.skill-section:nth-child(3) .skill-level {
    background: #c45826;
    border-color: #e08#3f516c;
    color: #cfd8d9;
}

/*Timeline*/
.timeline {
    display: block;
    width: 80%; 
    margin: 150px auto;
}

.card {
    width:80%;
    padding: 30%;
    border-radius: 10px;
    color:#e08384;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #ead14f;
}

.card:nth-child(even){
    margin-left:auto;
}